@import url('https://fonts.googleapis.com/css2?family=Simonetta&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Simonetta', cursive;
}

body {
    background-color: #DB8040;
    margin: 0;
    padding: 0;
    color: #eee;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

section #fox-title{
    text-transform: uppercase;
    font-size: 3rem;
    align-items: center;
}

section .picture img{
    width: 100%;
    max-width: 300px;
    border-radius: 1rem;
}

.questions{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn{
    padding: 1rem;
    font-size: 20px;
    color: #a1683f;
    text-transform: uppercase;
    border: none;
    border-radius: .6rem;
    outline: none;
    font-weight: bold;
    box-shadow: 0,0,10, #18120e;
}

.btn:hover{
    transform: scale(.99);
}

.answer .btn{
    margin: .3rem;
}

.hide{
    display: none;
}