@import url('https://fonts.googleapis.com/css2?family=Simonetta&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #DB8040;
    color: #eee;
    font-family: 'Simonetta', cursive;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    height: 100vh;
    width: 100vw;
}

heading{
    display: flex;
    justify-content: center;
    align-items: center;
}

#fox-title{
    grid-column: 1/2;
    grid-row: 1/2;
    text-transform: uppercase;
    font-size: 3rem;
    margin: 2rem;
}

.picture img{
    width: 100%;
    max-width: 300px;
}

.picture{
    grid-column: 1/2;
    grid-row: 2/3;
}

.questions{
    grid-column: 2/3;
    grid-row: 1/3;
}

.questions #start-game{
    padding: 1rem;
    font-size: 20px;
    font-family: inherit;
    color: #a1683f;
    text-transform: uppercase;
    border: none;
    border-radius: .6rem;
    outline: none;
    font-weight: bold;
    box-shadow: 0,0,10, #18120e;
}

.questions #start-game:hover{
    transform: scale(.99);
}